/** song list **/

#list
{
	clear: both;
	width: 90%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #eee;
	margin: 10px;
	-moz-box-shadow: 5px 5px 12px rgba(0,0,0,.15);
	-webkit-box-shadow: 5px 5px 12px rgba(0,0,0,0.15);
	box-shadow: 5px 5px 12px rgba(0,0,0,.15);
}

#list td, #list th
{
	padding: .25em 1em;
	vertical-align: middle;
	text-align: left;
}

#list th
{
	font-weight:bold;
}

tr.song:hover
{
	background:#ddd;
}

tr.song:nth-child(even) {
	background: #eee !important;
}

#list .artist, #list .title
{
	
}
