/******* Global tag properties ********/

*
{
	margin:0;
	padding:0;
}

body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #0d0d0d;
	background: #fff url('backgroundLogo.png') no-repeat fixed right bottom;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6
{
	font-weight:normal;
	color:#111;
	line-height: 1;
	margin: 1.5em 0 0.5em 0.5em;
}

h1
{
	font-size: 2.6em;
}

h2, h5
{
	font-size: 2em; color: #666;
}

h3, h6
{
	font-size: 1.7em; color: #00a8e6;
}

h4
{
	font-size: 1.4em;
}

h5
{
	font-size: 1.2em;
}

h6
{
	font-size: 1em;
}

input, textarea, button {
	font-family: Helvetica, Arial, sans-serif;
	padding: .5em;
	margin: .5em;
	border: 1px solid #e5e5e5;
	color: #555555;
	font-size: 1.25em;
}

input, textarea, button {
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}

a
{
	font-weight:bold;
	text-decoration:none;
	color:#111;
}

a:hover
{
	text-decoration:underline;
}

table
{
	border-collapse:collapse;
}

/******* Element-specific stuff ********/

.spacer
{
	clear:both;
}

#header h1
{
	margin-top:0;
	padding:0.5em;
}

#header
{
	background:#ddf;
}